.sudoku {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 50px;
    opacity: 65%;
}

#container {
    background-color: rgb(170, 127, 73);
    border: 4px solid;
    width: 384px;
    height: 360px;
    border-radius: 3px;
    border-color: rgb(117, 76, 13);
    display: grid;
    position: relative;
    left: 440px;
    top: 180px;
}

.box-1 {
    border: 2px solid;
    width: 126px;
    margin: -1px;
}

.box-2 {
    border: 2px solid;
    position: relative;
    left: 128px;
    bottom: 360px;
    width: 126px;
    margin: -1px;
}

.box-3 {
    border: 2px solid;
    position: relative;
    left: 256px;
    bottom: 720px;
    width: 126px;
    margin: -1px;
}

.puzzle {
    position: relative;
    width: 20%;
    height: 20%;
}

#leave {
    position: relative;
    /* top: 250px; */
    left: 360px;
    margin-right: 200px;
    background-color: rgba(197, 31, 31, 0.5);
}

#check {
    position: relative;
    /* top: 250px; */
    left: 162px;
    margin-left: 100px;
    background-color: rgba(18, 137, 192, 0.582);
}

#hint {
    position: relative;
    /* top: 250px; */
    left: 115px;
    margin-left: 100px;
    background-color: rgba(42, 221, 51, 0.582);
}

#info-bar {
    position: relative;
    top: 47px;
    display: flex;
    justify-content: center;
    margin-left: 0;
}

#level-info {
    margin-right: 100px;
    font-size: 25px;
    color: rgb(238, 212, 129);
    transition: 0.3s;
    text-shadow: -3px 3px 5px rgb(0, 0, 0);
}

#timeZero {
    position: relative;
    top: 27px;
    margin-left: 100px;
    font-size: 25px;
    color: rgb(238, 212, 129);
    transition: 0.3s;
    text-shadow: -3px 3px 5px rgb(0, 0, 0);
}

#time {
    position: relative;
    top: 27px;
    margin-left: 100px;
    font-size: 25px;
    color: rgb(238, 212, 129);
    transition: 0.3s;
    text-shadow: -3px 3px 5px rgb(0, 0, 0);
}

#congrats {
    margin-right: 500px;
    position: relative;
    top: 30vh;
    left: 48vh;
    font-size: 70px;
    color: rgb(238, 212, 129);
    transition: 0.3s;
    text-shadow: -3px 3px 5px rgb(0, 0, 0);
}

#gameOver button {
    position: relative;
    top: 40vh;
    left: 52vh;
}

.cell {
    width: 30px;
    height: 30px;
    margin: -1px;
    text-align: center;
    font-family: 'Maiandra GD', 'Century Gothic', sans-serif;
    font-size: 120%;
}

.row {
    margin: 4px;
}

@media screen and (max-width:720px) {
    #container {
        background-color: rgba(105, 44, 9, 0.733);
        border: 4px solid;
        width: 384px;
        height: 360px;
        border-radius: 3px;
        border-color: rgb(117, 76, 13);
        display: grid;
        position: relative;
        left: 155px;
        top: 180px;
    }
    #commands button {
        position: relative;
        margin: 10px;
        left: 190px;
    }
}

@media screen and (max-height: 685) {
    #container {
        background-color: rgb(170, 127, 73);
        border: 4px solid;
        width: 384px;
        height: 350px;
        border-radius: 3px;
        border-color: rgb(117, 76, 13);
        display: grid;
        position: relative;
        left: 440px;
        top: 100px;
    }
}

@media screen and (max-width: 704px) {
    .modal {
        position: relative;
        border-radius: 10px;
        left: 502px;
        width: 500px;
        background-color: rgb(118, 169, 226);
        text-align: center;
    }
    #container {
        background-color: rgb(170, 127, 73);
        border: 4px solid;
        width: 384px;
        height: 360px;
        border-radius: 3px;
        border-color: rgb(117, 76, 13);
        display: grid;
        position: relative;
        left: 160px;
        top: 100px;
    }
    .box-1 {
        border: 2px solid;
        width: 126px;
        margin: -1px;
        position: relative;
        left: 1px;
    }
    .box-2 {
        border: 2px solid;
        position: relative;
        left: 129px;
        bottom: 360px;
        width: 126px;
        margin: -1px;
    }
    .box-3 {
        border: 2px solid;
        position: relative;
        left: 257px;
        bottom: 720px;
        width: 126px;
        margin: -1px;
    }
    #commands {
        position: relative;
        bottom: 120px;
    }
    .nav {
        position: relative;
        left: 30px
    }
    #choice {
        position: relative;
        margin: 0px;
    }
}

@media screen and (max-height: 704px) {
    .modal {
        position: relative;
        border-radius: 10px;
        left: 502px;
        width: 500px;
        background-color: rgb(118, 169, 226);
        text-align: center;
    }
    #container {
        background-color: rgb(170, 127, 73);
        border: 4px solid;
        width: 384px;
        height: 350px;
        border-radius: 3px;
        border-color: rgb(117, 76, 13);
        display: grid;
        position: relative;
        left: 440px;
        top: 100px;
    }
    .box-1 {
        border: 2px solid;
        width: 126px;
        margin: -1px;
        position: relative;
        left: 1px;
    }
    .box-2 {
        border: 2px solid;
        position: relative;
        left: 129px;
        bottom: 351px;
        width: 126px;
        margin: -1px;
    }
    .box-3 {
        border: 2px solid;
        position: relative;
        left: 257px;
        bottom: 701px;
        width: 126px;
        margin: -1px;
    }
    #commands {
        position: relative;
        bottom: 120px;
    }
    .nav {
        position: relative;
        left: 30px
    }
    #choice {
        position: relative;
        margin: 0px;
    }
}

#commands {
    position: relative;
    bottom: -200px;
}

@keyframes blinkingBackground {
    0% {
        background-color: #32ff3c;
    }
    25% {
        background-color: #95a9ff;
    }
    50% {
        background-color: #e4ff6d;
    }
    100% {
        background-color: #ffffff;
    }
}